section#section-1.section-1
    .container
        .section-1__box
            .section-1__side.section-1__side_left
                h1.section-1__title!= section1.title
                a.section-1__button.btn(href=section1.link)= section1.link_title
            .section-1__side.section-1__side_right
                figure.section-1__figure
                    img(src=section1.image alt=section1.image_alt)
