footer.footer
    .container
        .footer__box
            .social.footer__social
                a.social__item.social__item_in(href=in_link)
                a.social__item.social__item_tw(href=tw_link)
                a.social__item.social__item_fb(href=fb_link)
            .footer__flex
                a.logo.footer__logo(href=link)= title