extends layout

block content
    .wrapper
        include header
        include ./sections/section-1
        include ./sections/section-2
        include ./sections/section-3
        include ./sections/section-4
        include ./sections/section-5
        include ./sections/section-6
        include ./sections/section-7
        include ./sections/section-8
        include footer
    script(src='/javascripts/main.js')
